:root {
  --font-body: Arial, Helvetica, sans-serif;
  --font-headline: Haettenschweiler, "Arial Narrow Bold", sans-serif;
  /* colors */
  --primary-color: #f0a868;
  --secondary-color: #525b0f;
  --tertiary-color: #a4b8c4;
  --light-grey: #d0d0d0;
  --dark-grey: #303030;

  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: var(--font-body);
  font-size: var(--font-base);
  color: var(--dark-grey);
}
img {
  max-width: 100%;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}
.logo {
  line-height: 60px;
  width: 245px;
  overflow: hidden;
  display: flex;
  font-size: 30px;
  text-align: right;
  font-family: var(--font-headline);
}
.logo img {
  width: 60px;
  height: 60px;
}
.logo a {
  text-decoration: none;
  color: var(--font-body);
}
.hero {
  position: relative;
}
.hero .logo {
  position: absolute;
  left: calc(50% - 60px);
  bottom: -10px;
  background-color: white;
}
.logo--square {
  font-size: var(--small-font);
  width: 110px;
  height: 80px;

  flex-direction: column;
  align-items: flex-end;
  box-shadow: 1px 1px 4px var(--light-grey);
  justify-content: center;
  align-items: center;
  line-height: 1;
}
.logo--square img {
  width: 90px;
  height: 90px;
  margin-top: -1.3em;
}
.logo--square > div {
  margin-top: -1.7em;
}
/* utility classes */
.highlight {
  color: var(--tertiary-color);
}

button {
  padding: 0.5em 2em;
  background-color: var(--secondary-color);
  color: white;
  margin: auto;
  display: block;
  border: 0;
  font-size: var(--large-font);
  cursor: pointer;
}

.colorButton {
  background-color: rgb(236, 234, 234);
}

.colorButton:hover {
  background-color: rgb(211, 210, 210);
}

.colorButtonActive {
  background-color: rgb(189, 188, 188);
}

#colorChoice {
  display: flex;
  gap: 5px;
}

.divider {
  border-bottom: 2px solid var(--primary-color);
}
/* End utility classes */
/*newsletter styles*/
.newsletter {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
}

.newsletter h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.newsletter p {
  font-size: 16px;
  margin-bottom: 20px;
}

.newsletter form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.newsletter label {
  font-size: 16px;
}

.newsletter input[type="email"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  font-size: 16px;
}

.newsletter button {
  background-color: #0073e6;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

/* Style the button on hover */
.newsletter button:hover {
  background-color: #005bb9;
}
/*end newsletter styles*/

/* Cart icon styles */
.cart {
  padding-top: 1em;
  position: relative;
  text-align: center;
}

.cart svg {
  width: 25px;
}
.cart:hover svg {
  fill: gray;
}

/* End cart icon styles */

.mission {
  padding: 0 0.5em;
  /* margin: 0.5em 0; */
  line-height: 1.3;
  max-width: 600px;
  margin: auto;
}
.products {
  padding: 0.5em;
}
.product-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}
.product-list a {
  text-decoration: none;
  color: var(--dark-grey);
}
/* Styles for product lists */
.product-card {
  flex: 1 1 45%;
  margin: 0.25em;
  padding: 0.5em;
  border: 1px solid var(--light-grey);
  max-width: 250px;
}
.product-card h2,
.product-card h3,
.product-card p {
  margin: 0.5em 0;
}

.card__brand {
  font-size: var(--small-font);
}

.card__name {
  font-size: 1em;
}
/* End product list card */

.product-detail {
  padding: 1em;
  max-width: 500px;
  margin: auto;
}

.product-detail img {
  width: 100%;
}
#productDiscount {
  font-size: 1.2em; 
  color: black; 
  font-weight: bold;
  margin-top: 10px;
}

/* Start cart list card styles */
.cart-card {
  display: grid;
  grid-template-columns: 25% auto 15%;
  gap: 10px;
  font-size: var(--small-font);
  /* max-height: 120px; */
  align-items: center;
  margin-bottom: 40px;
  margin-top: 40px;
}

.cart-card__image {
  grid-row: 1/3;
  grid-column: 1;
}
.cart-card p {
  margin-top: 0;
}
.cart-card .card__name {
  grid-row: 1;
  grid-column: 2;
}

.cart-card__color {
  grid-row: 2;
  grid-column: 2;
}

.cart-card__quantity {
  grid-row: 1;
  grid-column: 3;
}

.cart-card__price {
  grid-row: 2;
  grid-column: 3;
}

#cart-count {
  position: absolute;
  top: 10px;
  left: 15px;
  background-color: orange;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  font-size: 0.7em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.category-grid {
  text-align: center; /* Center the category boxes */
}

.category-grid a {
  text-decoration: none; /* Remove underlines from links */
}

.tent-box,
.sleeping-bag-box,
.backpack-box,
.hammock-box {
  display: inline-block; /* Display boxes inline */
  margin: 10px; /* Add spacing between boxes */
}

.tent-box img,
.sleeping-bag-box img,
.backpack-box img,
.hammock-box img {
  width: 50px; /* Adjust the width of the icons*/
}


.tent-box p,
.sleeping-bag-box p,
.backpack-box p,
.hammock-box p {
  color: black; /* Set the text color to black */
}

.quantity-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  font-size: 15px;
}

.cart-card__quantity span{
  margin-right: 8px;
}

/* Style the plus button */
.plus-button {
  background-color: #057b09;
  color: white;
  border: none;
  border-radius: 40%;
  padding: 6px 12px;
  cursor: pointer;
  float: right;
}


/* Style the minus button */
.minus-button {
  background-color: #d4281c; /* Red background */
  color: white;
  border: none;
  border-radius: 40%;
  padding: 6px 12px;
  cursor: pointer;
  float: right;
}


 
  


@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-10px) rotate(5deg); }
  50% { transform: translateX(10px) rotate(-5deg); }
  75% { transform: translateX(-10px) rotate(5deg); }
  100% { transform: translateX(10px) rotate(-5deg); }
}

.shaking {
  animation: shake 0.4s ease-in-out infinite;
}


/*newsletter*/

/* Apply styles to the container */
.newsletter-box {
  background-color: #f4f4f4;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  max-width: 300px;
  margin: 0 auto;
}

/* Style the headline */
.newsletter-box h2 {
  font-size: 24px;
  color: #333;
}

/* Style the form */
#newsletter-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Style input fields */
#name, #email {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Style the submit button */
button[type="submit"] {
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}



.checkout-form {
  padding: 0.5em;
}
.checkout-form label {
  display: block;
}
.checkout-form input {
  width: 100%;
  font-size: 1.2em;
}

 

.checkout-summary > ul {
  padding-left: 0;
  list-style-type: none;
}
.checkout-summary li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.checkout-summary input {
  width: 25%;
  font-size: 1em;
}

.alert {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;
  background-color: var(--primary-color);
  border: 1px solid darkorange;
}
.alert > p {
  margin: 0;
}

@media screen and (min-width: 500px) {
  body {
    max-width: 1080px;
    margin: auto;
  }
  .mission {
    font-size: 1.2em;
  }
  .cart-card {
    font-size: inherit;
    grid-template-columns: 150px auto 15%;
  }

}



footer {
  font-size: var(--small-font);
  padding: 1em;
}


